/* style.css */


h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: red;
}

div {
    font-family: Verdana, Geneva, sans-serif;
    color: blue;
}

.titles {
    font-family: Verdana, Geneva, sans-serif;
    color: red;
}

.text {
    font-family: Verdana, Geneva, sans-serif;
}